# Python
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.coverage
htmlcov/

# Environment
.env
.env.*
!.env.example
!**/.env.example

# Reports
backend/uploads/
backend/reports/
backend/app/uploads/*

# Node
frontend/node_modules/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Build
dist/
build/
/tmp/
